<div class="container">
  </br>
<%= link_to "<-- Go Back to the list", cocktails_path %>
  </br>
  </br>
  </br>
  <small>
    <h1><%= @cocktail.name %></h1>
    <p><%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %></p>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/OOjs_UI_icon_trash.svg/40px-OOjs_UI_icon_trash.svg.png" %>
    <% end %>
  </small>
  <hr>
  <div class="row">
      <div class="card ml-3 shadow" style="width: 50rem;">
        <div class="card-body">
          <% @doses.each do |dose|%>
            <p> <%= dose.description %> of <%= dose.ingredient.name %>  <%= link_to "", dose_path, :class => "far fa-trash-alt" %></p>
            </br>
          <% end %>
          <%= link_to "Add Doses", new_cocktail_dose_path(@cocktail), :class => "btn btn-danger" %>
          <hr>
        </div>
      </div>
  </div>
</div>
